@use "./variables.scss" as *;
@use "./breakpoints.scss" as *;

.register {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

padding: 30px;
 
  &_content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 40%;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;

    @include lg {
      width: 60%
    }

    @include mm {
      width: 80%
    }

    &_form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      input {
        width: 100%;
        padding: 7px 15px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        outline: none;
        text-align: center;
        color: white;

        &:focus
        {
          border-bottom: 1px solid white;
          &::placeholder
          {
            opacity: 0.3;
          }
        }
      }

      .labelbefore {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 9px;
        cursor: pointer;
        color: grey;
        font-size: 14px;
&:hover
{
  color: white;
}

        .uploadicon
        {
          height: 30px;
          width: 30px;
        }
      }
      .labelafter
      {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 9px;
        font-size: 14px;
        color:white;
        .uploadicon
        {
          height: 30px;
          width: 30px;
        }
      }

      button {

        @include buttonStyle;
        width: 50%;

        &:hover {
          box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.214);
        }
      }
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 13px;
      margin-top: 10px;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}